.container {
    text-align: center;
    margin-top: 5px;
    font-family: sans-serif;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center items horizontally */
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    color: #3498db;
    font-size: 5vw;
    margin-bottom: 0;
    /* Remove default bottom margin on h1 */
    margin-top: 0;

}

#counter {
    font-weight: bold;
    color: #f39c12;
    display: inline-block;
    padding: 1px 1px;
    border-radius: 5px;
    margin: 0;
    line-height: 0.8;
    transition: color 0.5s ease; /* Transition color change over 0.5 seconds */
}

#counter.color-change {
    color: blue; /* Choose your desired transition color */
}

#language-select {
    padding: 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dropdown {
    margin-left: 40px;
}

#language-select {
    padding: 0;
    border: none;
    background: none;
}

/* Hide the flag text with additional styling to ensure spacing remains correct */
#language-select option {
    line-height: normal;
    background-size: contain;
}

select {
    font-size: 50px;
}

.counter-container {
    flex: 1;
    /* This makes the counter section grow to take up available space */
    display: flex;
    /* To center the counter inside this container */
    align-items: center;
    /* Vertically center the counter */
    width: 100%;
    justify-content: center;
}