.container {
    text-align: center;
    margin-top: 5px;
    font-family: sans-serif;
    user-select: none;
}

h1 {
    color: #3498db;
    font-size: 5vw;
    margin-bottom: 0; /* Remove default bottom margin on h1 */
    margin-top: 0;

}

#counter {
    font-weight: bold;
    color: #f39c12;
    display: inline-block; /* Treat the counter like an inline image */
    padding: 1px 1px;     /* Add some padding for visual breathing room */
    border-radius: 5px;   /* Optional: Add rounded corners */
    margin: 0;
    line-height: 0.8; /* Start with a normal line-height */

}

#language-select {
    padding: 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.dropdown {
    margin-left: 40px;
}

#language-select {
    padding: 0;
    border: none;
    background: none;
}

/* Hide the flag text with additional styling to ensure spacing remains correct */
#language-select option {
    line-height: normal;
    background-size: contain;
}

select {
    font-size: 50px;
}